h2 {
    margin-top: 14px;
}

/* Ticket Element */

.fl-ticket-element {
    font-family: Helvetica, Arial, Sans-Serif;
    position: relative;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 20px 24px;
    margin: 18px 10px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.fl-ticket-element h2 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #74a4a3;
}
.fl-ticket-element p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fl-ticket-element input[type=submit] {
    margin: 10px 4px 0px 0px;
    border: 1px solid #74a4a3;
    background: none;
    color: #74a4a3;
    text-transform: none;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
}

.fl-ticket-element input[type=submit]:enabled:hover{
    background: #74a4a3;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
}

.fl-ticket-element input[type=submit][disabled] {
    opacity: 0.6;
} 

.ticket-list {
    margin-bottom: 34px;
}

/* Instruction Element */

.get-instruction {
    background-color: #ddd;
}

.get-instruction p{
    font-weight: 600;
    letter-spacing: 0.5px;
}

.instruction-element {
    width: 94%;
    max-width: 400px;
    margin: 0px 6px 14px 8px;
    float: left;
}

.instruction-list {
    margin-bottom: 24px;
}


/* Reload icon */

.reload {
    margin: 10px;
    text-align: right;
    font-size: 20px;
    line-height: 1;
    opacity: 1;
}
.reload a:hover {
    cursor: pointer;
    opacity: 0.5;
}
@media all and (max-width: 600px) {
    .reload {
        display: none;
    }
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* overlay style */

.fl-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10012;
}

.device-ticket .close {
    margin: -20px -14px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.3;
    text-decoration: none;  
}
.device-ticket .close:hover {
    cursor: pointer;
    opacity: 0.5;
}

.fl-overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    right: 0;
    top: 0;
    z-index: 10010;
}
.fl-overlay-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10011;
}

/* Device Ticket Overlay */

.device-ticket {
    width: 70%;
    position: relative;
    margin: 150px auto; 
    padding: 30px 30px 30px;
    background-color: #fdfdfd;
    border: 7px solid #ccc;
    border-radius: 8px;
    z-index: 10013; /* 1px higher than the overlay layer */
}

@media all and (min-width: 800px) {
    .device-ticket {
        width: 650px;
    }
}

@media all and (max-height: 800px) {
    .device-ticket {
        margin: 50px auto;
    }
}

.device-ticket h2 {
    margin-top: 6px;
    margin-bottom: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.device-ticket input[type=submit] {
    border: 1px solid #aaa;
    background: none;
    color: #aaa;
    text-transform: none;
    padding: 6px 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 4px;
    box-shadow: none;
    text-shadow: none;
}

.device-ticket input[type=submit]:hover {
    border: 1px solid #ccc;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.device-ticket select {
    font-size: 14px;
    height: 32px;
    line-height: 1;
    border-radius:4px;
    border: 1px solid #eee;
    border-right: 4px solid #ccc;
    background: #f7f7f7;
    color: #888;
    display: inline-block;
    padding: 6px;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    margin: 14px 0;
}

/* Draft Ticket List */

.draft-box {
    border-radius: 6px;
    margin-bottom: 14px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.draft-box:hover {
    background-color: #f3f3f3;
}

.draft-toggle {
    cursor: pointer;
}

.draft-title {
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    color: #999;
    padding-top: 6px;
}
.draft-title:hover {
    letter-spacing: 0.6px;
}

.arrow-down:hover {
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 16px solid #ddd;
    margin: auto;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    padding-bottom: 8px;
}

.draft-content {
    background-color: #f7f7f7;
}

/* Time-Ticket List */

.device-list-box {
    border-radius: 2px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.2);
    box-shadow: 0px 0px 4px rgba(0,0,0,.2);
}

.device-toggle {
    background-color: #aaa;
    font-size: 16px;
    color: #fff;
    padding: 6px 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0px;
}
.device-close {
    background-color: #ccc;
    color: #fff;
    padding: 4px 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0 -20px -20px -20px;
}
.device-listing {
    padding: 20px;
}
.device-listing h2{
    margin-top: 2px;
}
.device-toggle p {
    margin: 0px;
}
.device-close p {
    margin: 0px;
}

/* Blink */

.blink{
    animation: blink 600ms infinite alternate;
    -webkit-animation: blink 600ms infinite alternate;
    -moz-animation: blink 600ms infinite alternate;
}
@-webkit-keyframes blink {
    from { opacity:0.3; }
    to { opacity:1; }
}
@-moz-keyframes blink {
    from { opacity:0.3; }
    to { opacity:1; }
}
@keyframes blink {
    from { opacity:0.3; }
    to { opacity:1; }
}

/* Message */

.message-box p{
    margin: 4px;
}
.message-box {
    background: #fefefe;
    border-left: 10px solid #fc0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    margin: 20px 6px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
}

.success{
    border-left: 10px solid #9c0;
}

.error{
    border-left: 10px solid #b21;
}

/* busy indicator */

.busy {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    text-align:center;
    z-index:100;
    overflow: auto;
    background: url(loader.svg) no-repeat;
    width: 80px;
    height: 80px;
}

/* User Fullsceen */

.fl-fullscreen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    right: 0;
    top: 0;
    z-index: 100010;
}
.fl-fullscreen-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 100011;
}
.menu {
    background-color: #74a4a3;
    border: none;
    list-style-type: none;
    margin: 0 6px 0 0;
    padding: 2px;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
}

.menu input[type=submit] {
    border: none;
    border-radius: 4px;
    background: none;
    color: #fff;
    text-transform: none;
    padding: 4px 10px;
    margin: 2px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
}
.menu input[type=submit]:hover {
    background: #fff;
    color: #74a4a3;
    cursor: pointer;
}
.active {
    background: #fff;
    color: #74a4a3;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: #74a4a3;
    list-style-type: none;
    margin: 2px 0 0 -2px;
    padding: 4px;
    border-radius: 6px;
    z-index: 50;
}

.menu:hover > .menu-dropdown {
    display: block;
}

.device-selector {
    background-color: #74a4a3;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    border-radius: 6px;
    display: inline-block;
}
.device-selector li{
    float: left;
}

.device-selector ul {
    display: none;
    position: absolute;
    background-color: #eee;
    list-style-type: none;
    margin: -1px 0;
    padding: 5px 5px 2px 5px;
    border-radius: 4px;
    z-index: 50;
}

.device-selector ul li{
    float: none;
    padding: 2px 6px;
}


.device-selector input[type="checkbox"] {
    margin: 4px 8px 4px 4px;
}

.device-selector li:hover > ul {
    display: block;
}

.device-selector ul input[type=submit] {
    border: 2px solid #74a4a3;
    border-radius: 4px;
    background: none;
    color: #74a4a3;
    margin: 6px 0;
}
.device-selector ul input[type=submit]:hover {
    background: #74a4a3;
    color: #fff;
    cursor: pointer;
}

.device-selector input[type=submit] {
    border: none;
    border-radius: 4px;
    background: none;
    color: #fff;
    text-transform: none;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;
}
.device-selector input[type=submit]:hover {
    background: #fff;
    color: #74a4a3;
    cursor: pointer;
}
.active {
    background: #fff;
    color: #74a4a3;
}

.ticket-list .fl-ticket-element {
    margin: 8px 8px 16px 8px;
}

.time-ticket-list .fl-ticket-element {
    margin: 8px 8px 10px 8px;
}

.fl-fullscreen-layer .close {
    position: fixed;
    right: 14px;
    top: 10px;
    z-index: 10015;
    text-decoration: none;
}

.fl-fullscreen-layer .time-ticket-list {
    min-height: 200px;   
    margin-bottom: 0px;
}

 .fl-fullscreen-layer .devices-box {
    position: relative;
    margin: 20px auto; 
    z-index: 10013; /* 1px higher than the overlay layer */
}

 .fl-fullscreen-layer .device-box {
    float: left;
    width: 600px;
    margin-bottom: 0px;
}



@media all and (max-width: 1200px) {
    .fl-fullscreen-layer .tickets-box {
        width: 600px;
    }
}
