<div class="fl-device-element"
     [ngStyle]="{'border': '6px solid ' + device.color,
                   'background-color': device.color}">
  <div class="fl-device-element-content"
       (click)="deviceClicked()">
    <h2>{{device.name}}</h2>
    <!--p>Verfügbare Geräte: <b><?= $number_devices ?></b></br>Wartende Personen: <b><?= $waiting['persons'] ?></b></p-->
    <!--p id="waiting-time">Vorraussichtlich Wartezeit: <b><?= get_post_time_string($waiting['time'], true) ?></b></p-->

  </div>
</div>
