<ng-progress [color]="'#028F76'" [showSpinner]="false"></ng-progress>
<h1>Statistic</h1>  
<div class="statistic-box box">
  <div class="box-header">
  	<h3>Wochennutzung</h3>
    <button (click)="checkLoadAndSetData(false)">-</button>
    <button (click)="checkLoadAndSetData(true)">+</button>
  </div>
  <div class="box-content">
  	 <nvd3 [options]="options" [data]="data"></nvd3>
     <p>{{currentWeek}}</p>
  </div>
</div>
<div class="statistic-box trend-box">
  <div class="box-header">
  	<h3>Nutzungsverlauf</h3>
  </div>
  <div class="box-content">
  	 <nvd3 #linechart [options]="linechartoptions" [data]="datatrend"></nvd3>
  </div>
</div>