.fl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10012;
}

.device-ticket .close {
  float: right;
  margin: -20px -14px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.3;
  text-decoration: none;
}
.device-ticket .close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fl-overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  right: 0;
  top: 0;
  z-index: 10010;
}
.fl-overlay-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 10011;
}

/* Device Ticket Overlay */

.device-ticket {
  width: 70%;
  position: relative;
  margin: 150px auto;
  padding: 30px 30px 30px;
  background-color: #fdfdfd;
  border: 7px solid #ccc;
  border-radius: 8px;
  z-index: 10013; /* 1px higher than the overlay layer */
}

@media all and (min-width: 800px) {
  .device-ticket {
    width: 650px;
  }
}

@media all and (max-height: 800px) {
  .device-ticket {
    margin: 50px auto;
  }
}

.device-ticket h2 {
  margin-top: 6px;
  margin-bottom: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.device-ticket input[type=submit] {
  border: 1px solid #aaa;
  background: none;
  color: #aaa;
  text-transform: none;
  padding: 6px 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 4px;
  box-shadow: none;
  text-shadow: none;
}

.device-ticket input[type=submit]:hover {
  border: 1px solid #ccc;
  background: #ccc;
  color: #fff;
  cursor: pointer;
}

.device-ticket select {
  font-size: 14px;
  height: 32px;
  line-height: 1;
  border-radius:4px;
  border: 1px solid #eee;
  border-right: 4px solid #ccc;
  background: #f7f7f7;
  color: #888;
  display: inline-block;
  padding: 6px;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  margin: 14px 0;
}
