<!-- Menu -->


<ng-include src="templates_url + 'userHeadderTemplate.html'"></ng-include>


<div class="tab">
  <button class="tablinks" ng-class="{active: menuTab=='devices'}"ng-click="setMenuTab('devices')">{{LOCAssign.ticket_devices}}</button>
  <button class="tablinks" ng-class="{active: menuTab=='tickets'}" ng-click="setMenuTab('tickets')">Meine Tickets</button> <!-- totoranslate -->
  <button class="tablinks" ng-class="{active: menuTab=='settings'}" ng-click="setMenuTab('settings')">Einstellungen</button> <!-- totoranslate -->
</div>

<!-- Tab Content -->

<div ng-switch="menuTab">

  <!-- Tickets -->

  <div ng-switch-when="tickets" class="tabcontent">
    <div ng-click="ticket_info=!ticket_info" ></div> <!-- class="info-icon" -->
      <div id="ticket-listing" class="ticket-list">
        <p ng-if="!tickets && !notickets">Loading... </p>
        <p ng-if="notickets && !unauthorized">Keine Tickets</p>      <!-- totoranslate -->
        <p ng-if="notickets && unauthorized">Keine Berechtigung</p>     <!-- totoranslate -->
        <div data-ng-repeat="ticket in tickets track by ticket.ID" ng-init="ticketIndex = $index"
          ng-class="{'fl-ticket-row': show_as_tabel }" > <!-- | orderBy : 'status' -->
          <div class="fl-ticket-element {{ticket.status}}" ng-class="{blink: ticket.available, highlight: ticket.changed }" 
          style="border-color: {{ticket.color}}" ng-cloak>
            <p class="ticket-content">{{ formatDate(ticket.post_date) | date : "EEEE, d. MMMM y, HH:mm" }}<p>
            <h2>{{ ticket.post_title }}</h2>
            <p class="ticket-content">{{LOCAssign.for_device}}: <b>{{ ticket.device_title }}</b>
              <span ng-if="ticket.pin"> | {{LOCAssign.ticket_devices}}-Pin: <b>{{ ticket.pin }}</b></span></p>
            <div class="status-icon"></div>
            <ng-include src="templates_url + 'ticketUserButtons.html'"></ng-include>
            <ng-include ng-if="!ticket_info" src="templates_url + 'ticketUserTicketInfo.html'"></ng-include>
          </div>
        </div>
      </div>
  </div>

  <!-- Devices -->

  <div ng-switch-when="devices" class="tabcontent">
    <p ng-if="ticket_system_offline">Ticket-System offline!</p>  <!-- totoranslate -->
    <p ng-hide="max_available || ticket_system_offline || !get_ticket_allowed">Du hast die maximale Anzahl von Tickets gezogen!</p>  <!-- totoranslate -->
    <p ng-hide="get_ticket_allowed || ticket_system_offline">Tickets können nur am Terminal gezogen werden!</p>  <!-- totoranslate -->
    <div id="fl-getticket" class="device-list">
      <div data-ng-repeat="device_type in device_types track by $index"  class="fl-device-element get-ticket"  
      style="border: 6px solid {{device_type.color}}; background-color: {{device_type.color}}"
      ng-click="addTicketOverlay(device_type)" ng-show="!ticket_system_offline && get_ticket_allowed && max_available && device_type.available" ng-cloak >
        <div class="fl-device-element-content">
          <h2>{{device_type.name}}</h2>
          <!--p>Verfügbare Geräte: <b><?= $number_devices ?></b></br>Wartende Personen: <b><?= $waiting['persons'] ?></b></p-->
          <!--p id="waiting-time">Vorraussichtlich Wartezeit: <b><?= get_post_time_string($waiting['time'], true) ?></b></p-->
        </div>
      </div>
    </div>
  </div>

  <!-- Location -->

  <div ng-switch-when="location" class="tabcontent">
    <h2>Standorte</h2>                      <!-- totoranslate -->
    <!--leaflet id="map-simple-map"></leaflet-->
  </div>

  <!-- Settings -->

  <div ng-switch-when="settings" class="tabcontent">
    <p ng-show="overlay.message">{{overlay.message}}</p>
    <div ng-if="page_info.is_admin">
      <h4>Admin Optionen</h4>   <!-- totoranslate -->
      <a ng-href="{{blog_url}}/wp-admin/edit.php?post_type=device&page=fablab_options">   
      <input type="submit" value="Einstellungen" style="margin-bottom:12px"></a>
      <caption> </br>This is a Login Terminal: </caption>                      <!-- totoranslate -->
      <label class="switch" ng-click="terminalToggle()" ng-class="{active: page_info.is_terminal}" ><div class="slider round"></div></label>
      <caption></br>Ticket System Online: </caption>                      <!-- totoranslate -->
      <label class="switch" ng-click="setTicketSystemOnline()" ng-class="{active: !ticket_system_offline}" ><div class="slider round"></div></label>
    </div>
    <h4>Persönliche Daten</h4>   <!-- totoranslate -->
    <a  ng-href="{{blog_url}}/wp-admin/profile.php">
    <input type="submit" value="{{LOCAssign.ticket_edit}}"></a>
    <h4>NFC Karte/TU Karte</h4>  <!-- totoranslate -->
    <input type="submit" ng-click="setTokenOverlay()" value="Karte hinzufügen">  <!-- totoranslate -->
    <!--leaflet id="map-simple-map"></leaflet-->
  </div>
</div>

<!-- END Tab Content -->

<!-- Overlay -->

<div class="fl-overlay" ng-if="overlay.show">
  <div class="device-ticket" ng-show="overlay.show">
  <a ng-click="overlay.show=false" class="close">x</a>
  <ng-include src="templates_url + 'ticketUserOverlayTemplate.html'"></ng-include>
  </div>
  <div class="fl-overlay-background" ng-click="overlay.show=false"></div>
</div>

<!--
<?php if($calc_waiting_time) { ?>
<p>Benutzungsdauer: <b><?=  get_post_time_string(get_post_meta($post->ID, 'duration', true )) ?></b></p>
<p id="waiting-time">Vorraussichtlich Wartezeit: <b><?= get_post_time_string($waiting['time'], true) ?></b></p>
<?php } ?>
<p>Vor dir wartende Personen: <b><?= $waiting['persons'] ?></b></p>
-->