<p>Hello!</p>

<app-my-tickets [tickets$]=" (profileData$ | async)?.tickets$"
                (buttonClick)="buttonClicked(true, $event)"></app-my-tickets>

<app-devices [devices$]="(profileData$ | async)?.devices$"
             (buttonClick)="buttonClicked(true, $event)"></app-devices>

<app-dialog [openDialogEvent$]="openDialogEvent$"
            [data]="(ticketOverlayData$| async)"
            [showDialog]="showDialog"
            (buttonClick)="buttonClicked(false, $event)"
            (closeDialog)="closeDialog($event)">
</app-dialog>
