<h2> {{ (profile$ | async)?.title}}</h2>
<p> {{ (profile$ | async)?.message}}</p>
<app-devices [devices]="devices$ | async"
             (buttonClick)="buttonClickedAndShowDialog($event)"></app-devices>

<app-my-tickets [tickets]=" tickets$ | async"
                (buttonClick)="buttonClickedAndShowDialog($event)"></app-my-tickets>


<app-dialog [data]="ticketOverlayData$| async"
            [showDialog]="showDialog"
            (buttonClick)="buttonClickedAndHideDialog($event)"
            (closeDialog)="closeDialog($event)">
</app-dialog>
